.conatainer_big_card{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.big-card_photo > img{
  margin-top: 20px;
  min-width:400px;
  width: 500px;
  height:300px;

}

.big-card_title > a , h1 {
  width: 500px;
  font-size: 21px;
  font-weight: 400;
  padding: 10px 0 ;
}

.big-card_description > p{
  width: 500px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 20px;

}
